@using RedSocial.Core.Application.ViewModels.Friend;
@model SaveFriendViewModel
@{
    ViewData["Title"] = "Delete Post";
}

<div class="row">

    <div class="col-6 offset-3" >
        <div class="card">
            <div class="card-header bg-danger text-light">
                <h4>Are you sure you want to delete from your friends?</h4>
            </div>
            <div class="card-body">

                <form method="post" asp-controller="Friend" asp-action="DeletePost">
                
                    <input type="hidden" asp-for="Id" />

                    <button type="submit" class="btn btn-danger">Delete</button>
                    <a asp-controller="Friend" asp-action="Index" class="btn btn-warning">Back</a>
                
                </form>

            </div>
        </div>
    </div>

</div>

